{% extends 'base.html' %}

{% load static %}

{% block title %} Listener {% endblock title %}

{% block head %}
   <form method="post" enctype="multipart/form-data" class="innerdiv1">
        {% csrf_token %}
        <input id="audio_file" type="file" name="myfile" accept="text/*" required>
        <button id="sub" type="submit">Upload</button>
        
    </form>
    <div class="d-flex justify-content-center ">
        <p>{{uploaded}}</p>
    </div>

    <div class="innerdiv2">
    <audio  class="audio" controls id="audio_player" src="{{source}}" ></audio>
    </div>
    <div class="d-flex justify-content-center ">
        <h4 class="foot">Thanks for using !!!!</h3>
    </div>
  
{% endblock head %}



